# Secrets - never commit this
includes/config.secrets.php

# Debug logs
*.log
debug_api.log

# OS files
.DS_Store
Thumbs.db

# Client ID files
957700597513-3rmp02pd4md0vvsrirju98ledluc8o68.apps.googleusercontent.com

# Client secret files
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

